<body>



<div class="container" >
  <h1 style="text-align: center;">Rezervisi svoju kartu!</h1>
  <form class="form-group">

    <label class="control-label" for="fname">Ime</label>
    <input class="form-control" type="text" id="fname" name="firstname" placeholder="Your name.." />

    <label for="lname">Prezime</label>
    <input type="text" id="lname" name="lastname" placeholder="Your last name..">

    <label for="lname">Broj odraslih osoba</label>
    <input type="text" id="lname" name="lastname" placeholder="Broj odraslih osoba">

    <label for="lname">Broj djece</label>
    <input type="text" id="lname" name="lastname" placeholder="Broj djece">

    <label for="lname">Datum pocetka</label>
    <input type="date" id="lname" name="lastname"  placeholder="Datum od...">
    <label for="lname">Datum kraja</label>
    <input type="date" id="lname" name="lastname" placeholder="Datum do...">
<br><br>
    <label for="lname">Poruka</label>
    <textarea type="text" id="lname" name="lastname" placeholder="Poruka.."></textarea>

    <label for="lname">Izaberi ponudu</label>
    <select type="text" id="lname" name="lastname" placeholder=" "></select>

    
    <input type="submit" value="Rezervisi">

  </form>
</div>
</body>
