<h1>HURGHADA</h1>
<p>26.05. - 31.05.</p>
<br />
<p>
    Hurgada se nalazi na zapadnoj obali Crvenog mora, udaljena 500 km jugoistočno od Kaira. Grad se sa svojim brojnim hotelima raširio 36 km po uskom obalnom pojasu, jer se odmah iza nalazi pustinja. Hurgada je nastala 1909. kao kamp britanskih inženjera koji su došli istraživati nalazišta nafte, iz kog je 1920-ih izrastlo selo.Sve do početka osamdesetih godina prošlog vijeka imala je izgled malog ribarskog sela, odatad se razvila u inernacionalno poznatu turističku destinaciju. Od tad je podignuto puno hotela i zatvorenih resorta u gradu i okolici, za brojne evropske čarter turiste koji Hurgadu posjećuju i zimi zbog kupanja. Hurgada je naročito popularna među roniocima koji uživaju u koraljnim grebenima Crvenog mora
</p>
<br />
<img src="~/images/hurghada_final_cover.jpg" width="100%;" height="300px;" />
<p>
    HURGHADA poznata kao „Biser egipatske obale“ sa preko 350 sunčanih dana u godini, je najznačajniji turistički centar Egipta na zapadnoj obali Crvenog mora, 500 kilometara jugoistočno od glavnog grada Kaira. Takođe je i administrativni centar provincije Crveno more, jedne od 26 provincija Egipta. Ne tako davno, Hurgada je bila malo ribarsko mjesto. Danas je jedinstvena destinacija gdje možete uživati na predivnim plažama i hotelskim kompleksima u kojima će svi gosti naći sadržaj za sebe, u čistom i toplom Crvenom moru sa svojim šarolikim podvodnim svijetom i nestvarnim koralnim grebenima, u šopingu, mnogobrojnim izletima i egipatskoj tradicionalnoj hrani. Prostire se na 80 km obale Crvenog mora, a podjeljena je na Sakalu, El Dahar i El Memshu, uz još tri turistička centra – Sahl Hasheesh, Makadi Bay i Soma Bay.

    Iako su glavne atrakcije Hurgade nesumnjivo vezane za plažu i kristalno čisto Crveno more, ovo egipatsko ljetovalište svojim posjetiocima nudi i druge brojne sadržaje, od obilaska Rajskih ostrva preko pustinje i obližnjih beduinskih sela, pa do izleta u Luksor, Kairo, Gizu te krstarenje Nilom.
</p>
<br />

<h2>U cijenu programa je uključeno:</h2>
<ul>
    <li>
        Avio kartu na relaciji Sarajevo - Hurgada - Sarajevo (direktan charter  let u trajanju cca 2h)
    </li>
    <li>Smještaj u hotelu po izboru iz cjenovnika na bazi 7 noćenja sa izabranom uslugom</li>
    <li>Transfer aerodrom - hotel - aerodrom </li>
    <li>Cijene su izražene po osobi u konvertibilnim markama</li>
    <li>  U cijene su već uključeni popusti za rani booking</li>
    <li> U cijene je uključeno i putničko-zdravstveno osiguranje (Doplata za osobe od 60 do 70 godina i infante 10 KM)</li>
    <li> Cijena aerodromske takse</li>

</ul>
<br />
<h2>U cijenu programa nije uključeno:</h2>
<ul>
    <li>Dodatne individualne troškove </li>
    <li>Fakultativne izlete - plaćaju se predstavniku agencije po dolasku na destinaciju</li>
    <li>Način plaćanja za RANI BOOKING: Prilikom rezervacije potrebno je uplatiti 30% od iznosa aranžmana, a ostatak 15 dana prije putovanja.</li>
</ul>
<br />
<p>Napomena: Organizator zadržava pravo promjene objavljenih cijena u slučaju promjene cijena smještaja, prehrane, prijevoznih i drugih usluga, odnosno u slučaju promjene vrijednosnog odnosa valuta koje su osnova za izračunavanje cijene aranžmana.</p>

