
<style>
    * {
        font-family: "Raleway", Arial, Helvetica, sans-serif;
        margin: 0;
        padding: 0;
    }

    body {
        width: 100%;
        height: 600px;
    }

    h1 {
        padding-top: 10px;
    }

    .container {
        padding: 20px;
    }

    .slika1 {
        float: left;
        width: 50%;
        padding: 20px;
    }

    img {
        width: 100%;
        height: 200px;
    }

    .slika1 p {
        background-color: gray;
        box-shadow: 0px 5px 5px lightgray;
        text-align: center;
    }

    .w3-bar {
        width: 100%;
        height: 50px;
        box-shadow: 0px 10px 5px lightgray;
    }

        .w3-bar img {
            width: 50px;
            height: 50px;
        }
</style>
<body>
    <div class="w3-bar w3-white w3-border-bottom w3-xlarge">
        <img src="~/images/l.png" alt="Turist agency" class="w3-bar-item w3-button w3-text-red w3-hover-red" /><b>Turist agency</b>
        <a href="#" class="w3-bar-item w3-button w3-right w3-hover-red w3-text-grey"><i class="fa fa-search"></i></a>
    </div>

    <h1>Putujmo busom</h1>
    <br />
    <div class="container">
        <div class="slika1">
            <img src="~/images/budimpesta-cover-1.jpg" />
            <p>Budimpesta 2 noci</p>
        </div>
        <div class="slika1">
            <img src="~/images/SVICARSKA-31.jpg" />
            <p>Švicarska / 7 dana</p>
        </div>
    </div>

</body>