
<body>
    <h1>ISTANBUL + BURSA + ZAPADNA TURSKA</h1>
    <p>16.05.2022. - 23.05.2022.</p>
    <br />
    <p>
        Istanbul je spoj istočne i zapadne kulture.Smješten je na izvanrednoj lokaciji između Europe i Azije, povijest je ostavila svoj trag u Istanbulu u obliku fantastičnih palača, dvoraca, džamija i spomenika.
        Pergamon je antički grad iznad doline Bakirçay u sjeverozapadnom dijelu Male Azije, nedaleko od današnje Bergame u Turskoj.
        Kušadasi je jedano od najvećih svjetskih ljetovališta i mjesto na kojem se zadržavaju veliki brodovi za krstarenje u Turskoj. U svojoj ponudi nudi velike plaže, odličan shopping i izuzetan noćni život.
        Pamukkale doslovno znači “pamučni dvorac” i jedno od najimpresivnih prirodnih čuda Turske.
        Antalija, grad se nalazi u podnožju planine Taurus i jedan je od najljepših gradova turske rivijere.
    </p>
    <br />
    <h2>Program putovanja</h2>
    <p>
        <ul>

            <li>
                1. dan: dolazak u Istanbul
                Let na redovnoj liniji iz Sarajeva za Istanbul. Na izlazu iz aerodroma dočekat će Vas vodič i poželjeti dobrodošlicu. Slijedi transfer do hotela i smještaj u hotelu, večera i noćenje.
            </li>
            <li>
                2. dan: Istanbul – čarobna metropola
                Nakon doručka odlazak do nekadašnjeg hipodroma, izvornog okupljališta stanovnika, gdje ćete vidjeti tri monumentalna spomenika kasne Antike. Nakon toga posjetit ćete Plavu džamiju. Kada je bila izgrađena, Plava džamija bila je jedina na svijetu sa 6 minareta. Izgradnja ove džamije počela je 1609. i završena je 1616. godine. Nakon toga očekuje Vas najvažnije remek-djelo bizantske umjetnosti – Aja Sofija. Prvotno je to bila kršćanska crkva koja je 1453., nakon pada Carigrada, pretvorena je u džamiju. Od 1934.,služila je kao poznati muzej te je 2020. ponovno proglašena džamijom. Za kraj dana uživat ćemo u šetnji kroz orijentalne mirise i boje koje nam pruža egipatski bazar, poznatiji kao začinski bazar, koji se nalazi u sjevernijem dijelu grada. Večera i noćenje na području Istanbula.
            </li>
            <li>
                3. dan: Istanbul – fascinantna plovidba po Bosporu – Bursa
                Nakon doručka očekuje Vas fascinantna vožnja brodom po Bosporu (fakultativno uz doplatu cca 30 Eura). Na ovoj vožnji između dvije obale koje dijele Europu i Aziju doživjet ćete sklad suživota sadašnjosti i prošlosti, sjaja i jednostavne ljepote. Nakon toga odvest ćemo se u Bursu, antičku Prusu, od 1335. godine prvi glavni grad osmanskih sultana. Bogat grad, danas glavni grad provincije smješten u plodnoj dolini, okružen je visokim brdima. Pun je krivudavih ulica, slikovitih starih kuća, impozantnih džamija i gusto nastanjenih ulica bazara koje mirišu na sve miomirise Orijenta. Mostovi preko dubokih klanaca usred grada, romantična stara groblja pokraj raskošno smještenih modernih bulevara i poznati termalni izvori – to je Bursa. Vidjet ćete Ulu džamiju i Koza Han, nekadašnji bazar svile. Smještaj u hotel, večera i noćenje na području Burse.
            </li>
            <li>
                4. dan: Pergamon – Kušadasi
                Doručak u hotelu. Danas slijedi vožnja duž obale nako čega dolazimo u Pergamon. Tamo nas, između ostalog, očekuje Akropola i najstrmiji teatar antike, kao i temelji oltara posvećenog Zeusu. Vidjet ćete i temelje grada, hram i ostatke nekadašnje svjetski poznate knjižnice koja je, uz onu u Aleksandriji, bila najveća knjižnica ondašnjeg doba. Osim toga, ovdje je izumljen pergament! Nakon toga vozimo se dalje prema Kušadasiju preko Izmira. Smještaj u hotel, večera, noćenje na području Kušadasija.
            </li>
            <li>
                5. dan: Efez – Pamukkale
                Današnji izlet vodi Vas u Efez koji je poznat kao jedan od najvećih i najočuvanijih antičkih gradova na svijetu. Artemidin hram iz helenističkog doba ubraja se u sedam svjetskih čuda. Pod vladavinom cara Augusta grad je bio najvažnija trgovačka metropola Male Azije. Nastavljamo dalje kroz plodnu dolinu velikog Meandra u unutrašnjost prema Pamukkalama, prirodnom fenomenu (nazvan i Pamučna palača) na listi UNESCO-ove kulturne baštine, koja se prostire na brežuljku od vapnenačkih terasastih padina. Nakon dolaska imat ćete priliku za termalnu kupku u Vašem termalnom hotelu. Večera i noćenje na području Pamukkala.
            </li>
            <li>
                6. dan: Hierapolis – Antalija
                Danas posjećujete ostatke raskošnoga grada Hierapolisa, koji je svoj procvat doživio u rimsko doba, a proteže se iznad vapnenačkih terasastih padina. Slijedi nastavak vožnje preko predivnog krajolika gorja Taurus natrag prema Antaliji, a na putu posjet predionici tepiha gdje ćete se upoznati s cjelokupnim procesom izrade tepiha (od dobivanja materijala; svile, pamuka i vune sve do gotovog vezenog proizvoda). Smještaj u hotel, večera i noćenje na području Antalije.
            </li>
            <li>
                7. dan: ANTALIJA – vodopad Karpuzkaldiran
                Danas posjećujete Antaliju, jedan od najljepših gradova turske rivijere. Zaštićena veličanstvenom planinskom kulisom Taurusa, ovdje uspijeva bogata vegetacija. Vidjet ćete najvažnije znamenitosti grada. Posjetit ćemo i radionice te upoznati dvije važne turske djelatnosti: proizvodnju kože i proizvoda od zlata. Iskoristite brojne mogućnosti za povoljnu kupovinu, posebno tradicionalnih turskih proizvoda: nakita i kožnih proizvoda. Za kraj dana posjećujete poznati vodopad Karpuzkaldiran. Večera i noćenje.
            </li>
            <li>
                8.dan: Povratak kući
                Doručak u hotelu. Dovest ćemo Vas na aerodrom autobusom po rasporedu polaska kako biste otputovali kući. Let je na redovnoj liniji iz Antalije za Sarajevo preko Istanbula.
            </li>
        </ul>
    </p>
    <br />
    <h3>Ponuda ukljucuje</h3>
    <ul>
        <li>
            Povratni let Sarajevo – Istanbul – Antalija – Istanbul – Sarajevo, uključene takse (Pegasus Airlines, prtljag 20 kg + 8 kg)
        </li>
        <li> Prijevoz i izleti kako se navodi u programu u modernim, klimatizovanim autobusima</li>
        <li> Koktel dobrodošlice</li>
        <li> Kvalificirani turistički vodič, vodič čeka putnike na aerodromu u Antaliji</li>
        <li>7 noćenja u hotelima sa 4 – 5* zvjezdica</li>
        <li> Polupansion</li>
        <li> Sve ulaznice kako se navodi u programu</li>
    </ul>
    <h4>Dokumenti potrebni za putovanje</h4>
    <p>Državljanima BiH viza nije potrebna, dovoljan je pasoš važeći 6 mjeseci nakon povratka.</p>
</body>