<h1>ISTANBUL 4 i 5 NOĆI V</h1>
<p>Polasci 4 noćenja: 25.03. - 21.09.2022. Polasci 5 noćenja: 07.03. - 27.04.2022.</p>
<br />

<h2>U cijenu programa je uključeno:</h2>
<ul>
    <li>Avio prijevoz Sarajevo – Istanbul – Sarajevo; ANADOLUJET / TURKISH AIRLINES </li>
    <li>Aerodromske takse; </li>
    <li>Smještaj u hotelu 3* na bazi 4 noćenje sa doručkom u 1/2 ili 1/3 sobama po izboru; </li>
    <li>Ogledni hoteli: ENDICAN BEYAZIT I AKGUN BEYAZIT</li>
    <li> Transfer aerodrom – hotel – aerodrom u Istanbulu;</li>
    <li> Organizacija putovanja, i vodičko osoblje;</li>
</ul>
<br />

<h2>U cijenu programa nije uključeno:</h2>
<ul>
    <li>Putničko-zdravstveno osiguranje 2,00 KM po danu/osobi do 60god.; </li>
    <li>Doplatu za jednokrevetnu sobu – 130,00 KM </li>
    <li>Indiviudalni troškovi</li>
    <li>Fakultativne izlete; KRSTARENJE BOSFOROM, CJELODNEVNI IZLET, TURSKO VEČE, BURSA;</li>
    <li> Izleti i opcije koje se nude: plovidba Bosforom 15,00 EUR,</li>
    <li>Tour Evropa i Azija 25,00 EUR,</li>
    <li>Bursa izlet 35,00 EUR, trbušna noć na brodu uz večeru</li>
    <li>35,00 EUR, Prinčevska otočja 15,00 EUR...</li>
    <li>Izleti se biraju kako putnici zele na putovanju,</li>

</ul>