<style>
    body {
        width: 100%;
        height: 600px;
        background-image: url(../images/onama3.jpg);
        background-position: center;
        background-size: cover;
        opacity: 90%;
    }

    .w3-bar {
        width: 100%;
        height: 50px;
        background-color: white;
        box-shadow: 0px 10px 5px gray;
    }

    header {
        padding-top: 20%;
        position: absolute;
    }

    .w3-bar-item {
        width: 50px;
        height: 50px;
    }

    .container {
        width: 100%;
        height: 500px;
        padding-top: 10px;
    }
</style>

<body>
    <div class="w3-bar w3-white w3-border-bottom w3-xlarge">
        <img src="~/images/l.png" alt="Turist agency" class="w3-bar-item w3-button w3-text-red w3-hover-red" /><b>Turist agency</b>
        <a href="#" class="w3-bar-item w3-button w3-right w3-hover-red w3-text-grey"><i class="fa fa-search"></i></a>
    </div>

    <div class="container">
        <h5>Dobro dosli na nasu stranicu. Vrijeme je da vas upoznamo detaljnije s nasom historijom.</h5>
        <img src="~/images/onama.jpg" style="width:40%; height:300px; float:left; padding:15px;" />
        <p>
            Dragi ljubitelji putovanja,

            Turistička agencija je privatna turistička agencija, u Sarajevu, kulturnom centru BiH.
            Bogatstvo kulturnog – historijskog naslijeđa, prirodne ljepote i atraktivni prostori, u čemu se posebno izdvajaju naše planine, jezera, prelijepa sela, naši mali gradovi sa velikom dušom, naše more, je i odredilo pravac naše poslovne politike i potrebe da i naše učešče u predstavljanju lijepe nam države doprinese što većoj posjeti turista.
        </p>
        <img src="~/images/onama2.jpg" style="width:40%; height:300px; float:right; padding:15px; " />
        <p>
            Svoje poslovanje zasnivamo na ugledu kao strateškom kapitalu, ali i osmišljenoj viziji budućnosti kako bi na globalnom planu razvoja turističke ponude mogli na pravi način odgovoriti na sve veće izazove.Osnovna misija agencije je pružanje vrhunske usluge s najvišim standardima za sve klijente.
            Cilj nam je iz godine u godinu proširivati ponudu sklapajuči ugovore sa kvalitetnim turoperatorim-našim partnerima i pri tom zadržati i unaprijediti postojeći kvalitet.
            Za Vas nudimo agentsku prodaju hotelskih, apartmanskih, kao i rezervacija u privatnom smještaju i turističkim naseljima, transfer putnika,nudimo organizaciju ekskurzija, putovanja različitih tipova individualno ili u grupama; vrsimo rezervisanje avio karti,također nudimo organizaciju posjete medjunarodnim izlozbama, sajmovima i konferencijama...
        </p>
        <br />
        <p>
            Dakle,naš„ground service“ za Vas i Vaše partnere obavlja sve poslove oko dočeka gostiju. Dio ove ponude su i individualna putovanja.
            Takođe, nudimo i mogućnost zajedničkih reklamnih kampanja, kao i niz drugih paket usluga.
            Od ostalih ponuda izdvajamo: ljetovanja, zimovanja, wellnes, kratke odmore s proljeća i jeseni.
        </p>
        <p>
            Cilj nam je da imamo kvalitetnu saradnju sa većinom hotela, motela, ostalim objektima sa smještajnim kapacitetima tokom cijele godine, kulturno-istorijskim ustanovama, ugostiteljskim objektima kao i renomiranim partnerskim turističkim agencijama i turoperatorima, turističkim vodičima.

            U našoj agenciji možete rezervisati i dobiti informacije vezane za avio i autobusni saobraćaj.

        </p>

    </div>

</body>